.carousel-demo .product-item .product-image {
    width: 100%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.p-carousel-indicator > .p-link{
    width: 15px !important;
    height: 15px !important;
    border-radius: 50% !important;
}

.p-highlight > .p-link{
    background-color: #0bafdd !important;
}