@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'sailec';
    font-style: normal;
    font-weight: normal;
    src: local(''), url('./assets/fonts/sailec-medium.ttf') format('truetype');
  }

  html {
    font-family: 'sailec' !important;
  }
}

.font {
  font-family: 'sailec' !important;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
